.home {
  width: 100%;
  align-items: center;
  color: #3e497a;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #26532e;
  color: #f0f0f0;
  padding-bottom: 50px;
}

.about h2 {
  font-size: 50px;
  color: #e9d35b;
}

.about .prompt {
  width: 60%;
  font-size: 23px;
}

.prompt svg {
  font-size: 60px;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.prompt svg:hover {
  color: #a35c96;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #3e497a;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 35px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}
